@import url("https://fonts.googleapis.com/css?family=Open+Sans:600, 300");
*,
*::after,
*::before {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  font-family: "Open sans", sans-serif;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1c9d7f43-9d16-4a40-888e-20b10c7f7df5/dhp7947-821fcb9e-585d-49e1-a8a7-f291df974dda.jpg/v1/fill/w_1280,h_720,q_75,strp/madagascar___beach_background__5_by_martaveusproductions_dhp7947-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvMWM5ZDdmNDMtOWQxNi00YTQwLTg4OGUtMjBiMTBjN2Y3ZGY1XC9kaHA3OTQ3LTgyMWZjYjllLTU4NWQtNDllMS1hOGE3LWYyOTFkZjk3NGRkYS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.uZpwmMZNN3vUMX5Cw2ZEaRPtlOrnNXHG_FnqW5Q-5KM");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wheel {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  border: solid 6px #fff;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}
.wheel__inner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 5s;
}

.wheel__sec {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: solid;
  border-width: 15vw 6.25vw 0;
  border-color: transparent;
  transform-origin: 50% 100%;
  transform: translateX(-50%);
}

.wheel__sec:nth-child(1) {
  border-top-color: #16a085;
  transform: translateX(-50%) rotate(0deg);
}
.wheel__sec:nth-child(2) {
  border-top-color: #2980b9;
  transform: translateX(-50%) rotate(45deg);
}
.wheel__sec:nth-child(3) {
  border-top-color: rgb(50, 190, 71);
  transform: translateX(-50%) rotate(90deg);
}
.wheel__sec:nth-child(4) {
  border-top-color: #f39c12;
  transform: translateX(-50%) rotate(135deg);
}
.wheel__sec:nth-child(5) {
  border-top-color: #d35400;
  transform: translateX(-50%) rotate(180deg);
}
.wheel__sec:nth-child(6) {
  border-top-color: #c0392b;
  transform: translateX(-50%) rotate(225deg);
}
.wheel__sec:nth-child(7) {
  border-top-color: rgb(237, 200, 200);
  transform: translateX(-50%) rotate(270deg);
}
.wheel__sec:nth-child(8) {
  border-top-color: rgb(98, 92, 136);
  transform: translateX(-50%) rotate(315deg);
}

.wheel__sec img {
  position: absolute;
  width: 3.5vw;
  height: auto;
  bottom: 10vw;
  transform: translateX(-50%) rotate(0deg);
}

.wheel__text {
  margin: 70px 0 0 70px;
}
.wheel__arrow {
  width: 70px;
  height: 70px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open sans", sans-serif;
  transform: translate(-50%, -50%);
}
.wheel__arrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: solid;
  border-width: 0 10px 20px;
  border-color: transparent;
  border-bottom-color: #fff;
  top: -15px;
  left: 25px;
}
.wheel__button {
  width: 60px;
  height: 60px;
  background-color: whitesmoke;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
  font-size: 18px;
}
.wheel__button:hover {
  color: #27ae60;
}
.wheel__button:active {
  border: solid 3px rgba(0, 0, 0, 0.8);
  font-size: 15px;
}

.wheel__button svg {
  width: 2.5vw;
  height: 2.5vw;
}

.popup {
  position: fixed;
  width: 30vw;
  top: 0;
  left: 50%;
  transform: translate(-50%, -110%);
  background: #fff;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  transition: all 0.5s;
  opacity: 0;
}
.popup.active {
  transform: translate(-50%, 0);
  opacity: 1;
}
.popup__emotion {
  color: #f39c12;
  text-align: center;
  font-size: 30px;
  margin: 0 0 25px 0;
}
.popup__note {
  text-align: center;
}

.congratulation,
.information {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  display: none;
}
.congratulation__container,
.information__container {
  width: 40vw;
  padding: 30px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.congratulation__close,
.information__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #c0392b;
  cursor: pointer;
  transition: all 0.5s;
}

.congratulation__close:hover,
.information__close:hover {
  transform: rotate(360deg);
}

.congratulation__emotion {
  color: #f39c12;
  text-align: center;
  margin: 0 0 20px 0;
}

.congratulation__emotion svg {
  width: 3vw;
  height: 3vw;
}

.congratulation__note {
  text-align: center;
}

.information__container .form {
  display: block;
}

.information__container .form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: left;
  color: #000;
  margin-block: 0.5rem;
}

.information__container .input-container {
  position: relative;
}

.information__container .input-container input,
.information__container .form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.information__container .input-container input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.information__container .submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #ff5722;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.uia {
  width: 10vw;
  height: 10vw;
  position: absolute;
}

.uia.v1 {
  top: 10%;
  left: 10%;
}

.uia.v2 {
  top: 10%;
  right: 10%;
}

.uia.v3 {
  bottom: 10%;
  left: 10%;
}

.uia.v4 {
  bottom: 10%;
  right: 10%;
}

.uia.v5 {
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.uia.v6 {
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}

.uia.v7 {
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.uia.v8 {
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

.uia img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Use a media query to add a breakpoint at 767px: */
@media screen and (max-width: 767px) {
  .wheel {
    width: 84vw;
    height: 84vw;
  }

  .wheel__sec {
    border-width: 41vw 17.5vw 0;
  }

  .wheel__sec img {
    width: 10vw;
    bottom: 28vw;
  }

  .wheel__arrow {
    width: 12vw;
    height: 12vw;
  }

  .wheel__arrow .wheel__button {
    width: 10vw;
    height: 10vw;
    font-size: 10px;
  }

  .wheel__arrow::after {
    left: 50%;
    top: -18px;
    transform: translateX(-50%);
  }

  .wheel__button svg {
    width: 6vw;
    height: 6vw;
  }

  .congratulation__container,
  .information__container {
    width: 90%;
  }

  .congratulation__emotion svg {
    width: 8vw;
    height: 8vw;
  }

  .uia {
    width: 20vw;
    height: 20vw;
  }

  .uia.v5, .uia.v7 {
    display: block;
  }

  .uia.v6, .uia.v8 {
    display: none;
  }
}
